/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --main-font-weight-bold: 700;
  --main-font-weight: 400;
  --additional-font: "PressStart2P";
  --text-color: #000;
  --button-text-color: #fff;
  --border-color: #000;
  --background-color: #fff;
  --theme-hover-color: rgb(0 0 0 / 60%);
  --heart-contour-color: #000;
  --heart-core-color: #fff;
  --heart-core-color-transperent: rgb(0 0 0 / 0%);
  --heart-main-color: #ff0000;
  --heart-main-color-transperent: rgb(0 0 0 / 0%);
  --heart-main-color-hover: #000;
  --heart-core-color-hover: #000;
  --heart-main-color-active: #ff0000;
  --heart-core-color-active: #ff0000;
  --gradient-first: repeating-linear-gradient(
    to right,
    rgb(211 211 211 / 0%) 0px,
    #d3d3d3 1px,
    #d3d3d3 2px,
    rgb(211 211 211 / 0%) 2px,
    rgb(211 211 211 / 0%) 4px
  );
  --gradient-second: repeating-linear-gradient(
    to bottom,
    rgb(211 211 211 / 0%) 0px,
    #d3d3d3 1px,
    #d3d3d3 2px,
    rgb(211 211 211 / 0%) 3px,
    rgb(211 211 211 / 0%) 4px
  );
  --gradient-third: linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a
  );
}
